<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles-main">
    <app-big-card photoCover="https://i.pinimg.com/736x/b8/cf/f4/b8cff40efdda049aab503a0115fef514.jpg"
    cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
    cardDescription="Marvel estidios anuncia novo filme do homem de ferro"></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card photoCover="https://lh3.googleusercontent.com/YbROLFBMZ6_41wAc0gsj6O6BFEmiYK7sC5lnlJ3IQnC_f0nsu6D9K7QjfjaljLN1nJVCOw=s152" cardTitle="Novo filme da marvel"></app-small-card>
    <app-small-card photoCover="https://images.app.goo.gl/qLWwXPyVCXh4MsYq8" cardTitle="Aproveite mais séries da marvel no disney+"></app-small-card>
    <app-small-card photoCover="https://images.app.goo.gl/qNW5WNXfWiS1QrjD6" cardTitle="Novo momento da marvel"></app-small-card>
  </div>
</div>
