

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles-main">
    <app-big-card
    Id="1"
    photoCover="https://i.pinimg.com/736x/b8/cf/f4/b8cff40efdda049aab503a0115fef514.jpg"
    cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
    cardDescription="Marvel estidios anuncia novo filme do homem de ferro"></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
    Id="2"
    photoCover="https://lh3.googleusercontent.com/YbROLFBMZ6_41wAc0gsj6O6BFEmiYK7sC5lnlJ3IQnC_f0nsu6D9K7QjfjaljLN1nJVCOw=s152" cardTitle="Novo filme da marvel"></app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://lh3.googleusercontent.com/DpEcd6HkRHrEBf-wtu_CoS63HmvhhtRJ1qHOxUpQr58SosDLZXghwUK8ki7j-tnLb7cX=s162" cardTitle="Aproveite mais séries da marvel no disney+"></app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://lh3.googleusercontent.com/J64Up8J6MHuTcAYuHUfH0Rqiv0fHN-9NOARoydUmZ_uzOVr1Nfbe-Hi2aFt6OoTSzXc9qQ=s123" cardTitle="Novo momento da marvel"></app-small-card>
  </div>
</div>
